.nav {
  background-color: blue;
  width: 1200px;
  box-shadow: 10px 10px yellow;
  font-size: 20px;
  padding: 10px 10px 10px 200px;
  float: left;
}

.links { 
  display: block;
  text-decoration: none;
  padding: 2px;
  background-color: cyan;
  border-bottom: black;
  border-bottom-style: groove;
  border-right-style: ridge;
  float: left;
}

.links:hover{
  background-color: #00BFFF;
}
